.project_box {
  width: 290px;
  height: 100px;
  transition: color 0.15s ease, border-color 0.15s ease;
  border: solid 1px #b7e411 ;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
  // background-color: #b7e411;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  @media (max-width: 768px){
    width: 360px; 
  }
  @media (max-width: 375px){
    width: 340px;
    
  }
  @media (max-width: 320px){
    width: 300px;
  }
  
  .title_box {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #4a4a4a;
  }
  .btn_box {
    .btn {
      width: 200px;
      height: 100px;
      border: 1px solid #4a4a4a;
      border-radius: 4px;
      padding: 5px 20px;
      list-style: none;
      text-decoration: none;
      color: #4a4a4a;
      &:hover {
        color: #ffffff;
        background-color: #b7e411;
        border: 1px solid #b7e411;
      }
    }
  }
}
