.project_box {
  width: 290px;
  height: 100px;
  background-color: #b7e411;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  @media (max-width: 768px){
    width: 360px; 
  }
  @media (max-width: 375px){
    width: 340px;
    
  }
  @media (max-width: 320px){
    width: 300px;
  }
  
  .title_box {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .btn_box {
    .btn {
      width: 200px;
      height: 100px;
      border: 1px solid #000000;
      padding: 5px 20px;
      list-style: none;
      text-decoration: none;
      color: #000000;
      &:hover {
        color: #ffffff;
        background-color: #000000;
      }
    }
  }
}
