.bio_box{
  width: 100%;
  max-width: 600px;
  margin: auto;
  color: #4a4a4a;
  @media (max-width: 414px){
    .title{
      padding: 0 30px;
    }
  }
  @media (max-width: 375px){
    .title{
      padding: 0 20px;
    }
  }
  
}